<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to Scheduled Tweets!</h1>
</div>
<% if @user %>
<div class="d-flex align-items-center justify-content-center">

<%= @user.email %>
</div>
<div class="d-flex align-items-center justify-content-center">
<%= button_to "Logout", logout_path, method: :delete, class: "btn btn-primary" %>

</div>
<% end %>
