<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to FAMfam</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <h2>A list of everyone in your family</h2>
</div>

